[Unit]
Description=Salebot service

[Service]
Type=simple
User=salebot
WorkingDirectory=/opt/salebot
Environment=PERL5LIB=/usr/local/share/perl5
ExecStart=/usr/bin/perl salebot2.pl
Restart=always

[Install]
WantedBy=default.target
